@model WorkOrders.Web.Models.LoginModel
@{
    ViewBag.Title = "Radni nalozi";
    var dateFormat = "dd.mm.yyyy";
}

<header class="not-printable">
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    @if (User.Identity.IsAuthenticated /* && User.IsInRole(WorkOrders.Web.Infrastructure.Constants.RoleNames.Employee)*/)
    {
        <section id="workOrders" style="display: none" data-bind="visible: show">
            <article class="item-list not-printable">
                <h4>Otvoreni nalozi</h4>
                <ul data-bind="foreach: workOrders">
                    <li data-bind="text: Number, click: $parent.selectWorkOrder, css: { active: $data == $parent.selectedWorkOrder() }"></li>
                </ul>
                <button class="button btn-primary" data-bind="click:addWorkOrder"><i class="icon-edit icon-white"></i>Novi nalog</button>
            </article>
            <article class="current-item" data-bind="with:selectedWorkOrder, visible: selectedWorkOrder">
                <script id="tmpl-simpleWorkItems" type="text/html">
                    <ul data-bind="foreach:$data.items" class="unstyledList">
                        <li>
                            <div class="input-append">
                                <input type="text" data-bind="value:Name" class="input-block-level" />
                                <button class="btn not-printable" data-bind="click:$root.removeWorkItem"><i class="icon-trash"></i></button>
                            </div>
                        </li>
                    </ul>
                    <button data-bind="click:$root.addWorkItem" class="btn pull-right not-printable input-block-level"><i class="icon-plus"></i>Dodaj</button>
                </script>
                <script id="tmpl-tabledWorkItems" type="text/html">
                    <table class="table table-bordered" data-bind="visible:$data.items.length">
                        <thead>
                            <tr>
                                <th>r.b.</th>
                                <th>Naziv</th>
                                <th>Količina</th>
                                <th>Jed. Mjere</th>
                                <th>Vrijednost</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:$data.items">
                            <tr class="not-printable">
                                <td data-bind="text:$index() + 1"></td>
                                <td>
                                    <input type="text" class="input-small" data-bind="value:Name" />
                                </td>
                                <td>
                                    <input type="number" class="input-micro" data-bind="value:Amount" />
                                </td>
                                <td>
                                    <input type="text" class="input-mini" data-bind="value:Unit"
                                        data-provide="typeahead" data-source='["komad", "sat"]' />
                                </td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" data-bind="value:FormattedValue" class="input-micro" /><span class="add-on">KM</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="printable-only">
                                <td data-bind="text:$index() + 1"></td>
                                <td>
                                    <span data-bind="text:Name" />
                                </td>
                                <td>
                                    <span data-bind="text:Amount" />
                                </td>
                                <td>
                                    <span data-bind="text:Unit" />
                                </td>
                                <td>
                                    <span class="pull-right" data-bind="text:FormattedValue" />
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"><strong class="pull-right">Ukupno</strong></td>
                                <td colspan="1"><strong class="pull-right" data-bind="text:sum"></strong></td>
                            </tr>
                        </tfoot>
                    </table>
                    <button data-bind="click:$root.addWorkItem" class="btn pull-right not-printable input-block-level"><i class="icon-plus"></i>Dodaj</button>
                </script>
                <header>
                    <section>
                        <div class="logo">
                            <img src="@Url.Content("~/Content/images/logo.png")" alt="logo"/>
                        </div>
                    </section>
                    <section class="pull-right">
                        <label class="input-prepend"><span class="add-on">Radni nalog br.</span><input type="text" data-bind="value: Number"></input></label>
                        <label class="input-prepend"><span class="add-on">Korisnik</span><input type="text" class="ui-autocomplete" data-bind="value:Employee" /></label>
                        @*<label class="input-prepend"><span class="add-on">Datum prijema</span><input type="datetime-local" class="" data-bind="value:DateReceived" /></label>*@
                        <label class="input-prepend" data-date-format="@dateFormat" data-bind="attr:{ 'data-date': DateReceived }">
                            <span class="add-on">Datum prijema</span>
                            <input class="datepicker" data-date-format="@dateFormat" type="text" data-bind="datepicker:DateReceived">
                             @*<span class="add-on"><i class="icon-th"></i></span>*@
                        </label>
                    </section>
                </header>
                <fieldset class="customer-info">
                    <legend>Podaci o naručiocu/vozilu</legend>
                    <section data-bind="with:Client">
                        <label class="input-prepend"><span class="add-on">Naručilac</span><input type="text" class="" data-bind="value:Name" /></label>
                        <label class="input-prepend"><span class="add-on">Adresa</span><input type="text" class="" data-bind="value:Address" /></label>
                        <label class="input-prepend"><span class="add-on">Telefon</span><input type="text" class="" data-bind="value:Phone" /></label>
                        <label class="input-prepend"><span class="add-on">Kontakt osoba</span><input type="text" class="" data-bind="value:Contact" /></label>
                    </section>
                    <section data-bind="with:Vehicle">
                        <label class="input-prepend">
                            <span class="add-on">Marka | Model</span>
                            <input type="text" id="Vehicle_Manufacturer" class="input-half inline" data-bind="value:Manufacturer"
                                placeholder="marka" data-provide="typeahead" data-source='["Audi", "BMW", "Citroen", "Fiat", "Hyndai", "Jeep", "Lancia", "Mercedes", "Nissan", "Opel", "Zastava"]' />
                            <input type="text" class="input-half" data-bind="value:Model" placeholder="model" />
                        </label>
                        <label class="input-prepend">
                            <span class="add-on">Reg. br. | Stanje km</span>
                            <input type="text" class="input-half inline" data-bind="value:RegistrationNumber" placeholder="npr. M17-E-231" />
                            <input type="number" class="input-half" data-bind="value:Odometer" placeholder="npr. 178233" />
                        </label>
                        <label class="input-prepend"><span class="add-on">Broj šasije</span><input type="text" class="" data-bind="value:VIN" /></label>
                        <label class="input-prepend"><span class="add-on">Broj motora</span><input type="text" class="" data-bind="value:EngineNumber" /></label>
                    </section>
                </fieldset>
                <fieldset class="order-info">
                    <legend>Podaci o nalogu</legend>
                    <fieldset>
                        <legend>Tražene usluge</legend>
                        <section data-bind="template:{ name: 'tmpl-simpleWorkItems', data: WorkItemsFiltered(1) }"></section>
                    </fieldset>
                    <fieldset>
                        <legend>Potrebni radovi</legend>
                        <section data-bind="template:{ name: 'tmpl-simpleWorkItems', data: WorkItemsFiltered(2) }"></section>
                    </fieldset>
                </fieldset>
                <fieldset class="work-limits">
                    <legend>Vrijednost i rokovi radova</legend>
                    <section>
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked:RequestForEstimate">
                            Zahtjev za procjenu
                        </label>
                        <label class="text" data-bind="visible:RequestForEstimate">
                            Početna procjena radova
                            <input type="text" class="input-medium" data-bind="value:EstimatedValue" />
                        </label>
                    </section>
                    <section>
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked:ApprovedMax">
                            Max vrijednost
                        </label>
                        <label class="text" data-bind="visible:ApprovedMax">
                            Odobrena MAX vrijednost
                            <input type="text" class="input-medium" data-bind="value:ApprovedMaxValue" />
                        </label>
                    </section>
                    <section>
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked:Approved">
                            Odobrenje
                        </label>
                        <span data-bind="visible:Approved">Naručilac ne želi procjenu</span>
                    </section>
                    <section>
                        <label>Rok za završetak</label>
                        <input type="datetime-local" data-bind="value:Deadline" />
                    </section>
                </fieldset>
                <fieldset>
                    <legend>Izvještaj o izvršenju naloga</legend>
                    <fieldset class="work-info">
                        <legend>Izvršeni radovi</legend>
                        <section data-bind="template:{ name: 'tmpl-tabledWorkItems',  data: WorkItemsFiltered(3) }"></section>
                    </fieldset>
                    <fieldset class="parts-info">
                        <legend>Ugrađeni dijelovi</legend>
                        <section data-bind="template:{ name: 'tmpl-tabledWorkItems',  data: WorkItemsFiltered(4) }"></section>
                    </fieldset>
                </fieldset>
                <section>
                    <fieldset>
                        <legend>Savjet servisa</legend>
                        <textarea data-bind="value:Advice" class="input-block-level" rows="3"></textarea>
                    </fieldset>
                    <fieldset>
                        <legend>&nbsp;</legend>
                        <table class="table">
                            <tr>
                                <th>Ukupno dijelovi</th>
                                <td><span class="pull-right" data-bind="text:PartsInstalledSum"></span></td>
                            </tr>
                            <tr>
                                <th>Ukupno rad</th>
                                <td><span class="pull-right" data-bind="text:WorkPerformedSum"></span></td>
                            </tr>
                            <tr>
                                <th>Ukupno</th>
                                <td><strong class="pull-right" data-bind="text:TotalSum"></strong></td>
                            </tr>
                        </table>
                        <label class="input-prepend"><span class="add-on">Datum završetka</span><input class="input-medium"  type="datetime-local" class="" value="@DateTime.Now" /></label>
                    </fieldset>
                </section>
                <section class="work-footer">
                    <section>
                        <label class="input-prepend"><span class="add-on">Za servis</span><input type="text" class="input-medium" /></label>
                        <label class="input-prepend printable-only">
                            <span class="add-on">Potpis</span><input type="text" class="input-medium" />
                        </label>
                    </section>
                    <section>
                        <label class="input-prepend"><span class="add-on">Datum</span><input type="datetime-local" class="input-medium" /></label>
                        <br />
                        <br />
                        <label style="text-align: center" class="printable-only">M.P.</label>
                    </section>
                    <section>
                        <label class="input-prepend"><span class="add-on">Vozilo preuzeo</span><input type="text" class="input-medium" /></label>
                        <label class="input-prepend printable-only">
                            <span class="add-on">Potpis</span><input type="text" class="input-medium" />
                        </label>
                    </section>
                </section>
                <footer class="not-printable">
                    <button class="btn btn-inverse" onclick="window.print()">Odštampaj nalog</button>
                    <button class="btn btn-danger">Zatvori nalog</button>
                    <button class="btn btn-primary" data-bind="click:$root.save">Sačuvaj</button>
                </footer>
            </article>
        </section>
    }
    else if (@User.Identity.IsAuthenticated && false)
    {
        <p class="error" data-bind="text: error"></p>
        <button data-bind="click: addTodoList">Add Todo list</button>

        <section id="lists" data-bind="foreach: todoLists, visible: todoLists().length > 0">
            <article class="todoList">
                <header>
                    <form data-bind="validate: true">
                        <input class="required" data-bind="value: Title, selected: IsEditingListTitle, blurOnEnter: true" />
                    </form>
                </header>

                <a href="#" class="deletelist" data-bind="click: $parent.deleteTodoList">X</a>

                <ul data-bind="foreach: Todos">
                    <li>
                        <input type="checkbox" data-bind="checked: IsDone" />
                        <input type="text" data-bind="value: Title, disable: IsDone, blurOnEnter: true" />
                        <a href="#" data-bind="click: $parent.deleteTodo">X</a>
                        <p class="error" data-bind="visible: ErrorMessage, text: ErrorMessage"></p>
                    </li>
                </ul>

                <form data-bind="submit: addTodo">
                    <input class="addTodo" type="text" data-bind="value: NewTodoTitle, placeholder: 'Type here to add', blurOnEnter: true, event: { blur: addTodo }" />
                </form>

                <p class="error" data-bind="visible: ErrorMessage, text: ErrorMessage"></p>
            </article>
        </section>
    }
    else
    {
        <div class="todoList not-printable" id="loginPanel">
            <section id="localLoginPanel">
                <h2>Log in</h2>
                @Html.Partial("_Login")
            </section>
            <section id="socialLoginPanel">
                <h2>Log in using another service</h2>
                @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <p>First time here? <a id="showRegister">Sign up</a></p>
        </div>
        <div class="todoList" id="registerPanel">
            <h2>Sign up</h2>
            @Html.Partial("_Register")
            <p>Already signed up? <a id="showLogin">Log in</a></p>
        </div>
    }
</div>
<div class="pull-left not-printable" id="logmessages"></div>
@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @*@Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/breeze")
        @Scripts.Render("~/bundles/jqueryval")*@
        @Scripts.Render("~/bundles/workorder")
        <script>
            // workaround around bootstrap issue https://github.com/twitter/bootstrap/issues/5955
            $(document).ready(function () {
                //$("#Vehicle_Manufacturer").typeahead({ source: app.autocomplete.Manufacturers });
                $('.datepicker').datepicker();
            });
        </script>
    }
}