@model WorkOrders.Web.Models.WorkOrdersViewModel
<section id="workOrders" style="display: none" data-bind="visible: show">
    <article class="item-list not-printable">
        <button class="btn btn-mini btn-primary pull-right" data-bind="click: refresh" @Html.DataForTitle("Refresh")><i class="icon-refresh icon-white"></i></button>
        @Html.EditorFor(m => m.WorkOrdersList, "WorkOrdersList")
        <button class="btn-primary" data-bind="click: addWorkOrder">
            <i class="icon-folder-open icon-white"></i> <span @Html.DataForAttr("NewOrder")>@Localize.NewOrder</span>
        </button>
    </article>
    @Html.EditorFor(m => m.SelectedWokOrder)
</section>

<script type="text/javascript">
    // workaround around bootstrap issue https://github.com/twitter/bootstrap/issues/5955
    //$(document).ready(function () {
    //$("#Vehicle_Manufacturer").typeahead({ source: app.autocomplete.Manufacturers });
    //});
</script>
