@model ICollection<WorkOrders.Domain.Models.WorkItem>

<script id="tmpl-simpleWorkItems" type="text/html">
    <ul data-bind="foreach: $data.items" class="unstyledList">
        @Html.Partial("EditorTemplates/WorkItemSimple")
    </ul>
    <button data-bind="click: add" class="btn pull-right not-printable input-block-level">
        <i class="icon-plus"></i>
        <span @Html.DataForAttr("Add")>@Localize.Add</span>
    </button>
</script>
<script id="tmpl-tabledWorkItems" type="text/html">
    <table class="table table-bordered" data-bind="visible: $data.items.length">
        <thead>
            <tr>
                <th @Html.DataForAttr("RowNumber")>@Localize.RowNumber</th>
                <th @Html.DataForAttr("Name")>@Localize.Name</th>
                <th @Html.DataForAttr("Amount")>@Localize.Amount</th>
                <th @Html.DataForAttr("Unit")>@Localize.Unit</th>
                <th @Html.DataForAttr("Value")>@Localize.Value</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $data.items">
            @Html.Partial("EditorTemplates/WorkItemTableRow")
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><strong class="pull-right" @Html.DataForAttr("Total")>@Localize.Total</strong></td>
                <td colspan="1"><strong class="pull-right" data-bind="text: sum"></strong></td>
            </tr>
        </tfoot>
    </table>
    <button data-bind="click: add" class="btn pull-right not-printable input-block-level">
        <i class="icon-plus"></i>
        <span @Html.DataForAttr("Add")>@Localize.Add</span>
    </button>
</script>
