@using WorkOrders.Domain.Models
@model WorkOrders.Domain.Models.WorkOrder
@Html.Editor("WorkItems", "WorkItems")
@{
}
<form class="current-item" data-bind="with: SelectedWorkOrder, visible: SelectedWorkOrder, submit: function(){}">
    <header>
        <section>
            <div class="logo">
                <img src="@Url.Content("~/Content/images/logo.png")" alt="logo"/>
            </div>
        </section>
        <section class="pull-right">
            @Html.EditorFor(m => m.Number)
            @Html.EditorFor(m => m.Employee)
            @Html.EditorFor(m => m.DateReceived)
        </section>
    </header>
    <fieldset class="customer-info">
        <legend @Html.DataForAttr("CustomerAndVehicleData")>@Localize.CustomerAndVehicleData</legend>
        <section @Html.DataBindWith(m => m.Customer)>
            @Html.EditorFor(m => m.Customer)
        </section>
        <section @Html.DataBindWith(m => m.Vehicle)>
            @Html.EditorFor(m => m.Vehicle)
        </section>
    </fieldset>
    <fieldset class="order-info">
        <legend @Html.DataForAttr("WorkOrderData")>@Localize.WorkOrderData</legend>
        <fieldset>
            <legend @Html.DataForAttr("OrderedServices")>@Localize.OrderedServices</legend>
            <section data-bind="template: { name: 'tmpl-simpleWorkItems', data: WorkItemsFiltered(@((int)WorkItemType.Ordered)) }"></section>
        </fieldset>
        <fieldset>
            <legend @Html.DataForAttr("NecessaryServices")>@Localize.NecessaryServices</legend>
            <section data-bind="template: { name: 'tmpl-simpleWorkItems', data: WorkItemsFiltered(@((int)WorkItemType.Necessary)) }"></section>
        </fieldset>
    </fieldset>
    <fieldset class="work-limits">
        <legend @Html.DataForAttr("WorkLimitsAndDeadlines")>@Localize.WorkLimitsAndDeadlines</legend>
        <section>
            @Html.EditorFor(m => m.RequestForEstimate)
            <label class="text" data-bind="visible: RequestForEstimate">
                <span @Html.DataForAttr(m => m.EstimatedValue)>@Html.Localize(m => m.EstimatedValue)</span>
                @Html.EditorFor(m => m.EstimatedValue, new { HideLabel = true, htmlAttributes = new { @class = "input-medium" } })
            </label>
        </section>
        <section>
            @Html.EditorFor(m => m.ApprovedMax)
            <label class="text" data-bind="visible: ApprovedMax">
                <span @Html.DataForAttr(m => m.ApprovedMaxValue)>@Html.Localize(m => m.ApprovedMaxValue)</span>
                @Html.EditorFor(m => m.ApprovedMaxValue, new { HideLabel = true, htmlAttributes = new { @class = "input-medium" } })
            </label>
        </section>
        <section>
            @Html.EditorFor(m => m.Approved)
            <span data-bind="visible: Approved" @Html.DataForAttr("CustomerDoesNotWantEstimate")>@Localize.CustomerDoesNotWantEstimate</span>
        </section>
        <section>
            @Html.EditorFor(m => m.Deadline, new { DontPrepend = true })
        </section>
    </fieldset>
    <fieldset>
        <legend @Html.DataForAttr("WorkExecutionReport")>@Localize.WorkExecutionReport</legend>
        <fieldset class="work-info">
            <legend @Html.DataForAttr("WorkPerformed")>@Localize.WorkPerformed</legend>
            <section data-bind="template: { name: 'tmpl-tabledWorkItems', data: WorkItemsFiltered(@((int)WorkItemType.Performed)) }"></section>
        </fieldset>
        <fieldset class="parts-info">
            <legend @Html.DataForAttr("PartsInstalled")>@Localize.PartsInstalled</legend>
            <section data-bind="template: { name: 'tmpl-tabledWorkItems', data: WorkItemsFiltered(@((int)WorkItemType.PartInstalled)) }"></section>
        </fieldset>
    </fieldset>
    <section>
        <fieldset>
            <legend @Html.DataForAttr(m => m.Advice)>@Html.Localize(m => m.Advice)</legend>
            @Html.TextAreaFor(m => m.Advice, new { @class = "input-block-level", data_bind = "value: Advice", rows = 3 })
        </fieldset>
        <fieldset>
            <legend>&nbsp;</legend>
            <table class="table">
                <tr>
                    <th @Html.DataForAttr("TotalParts")>@Localize.TotalParts</th>
                    <td><span class="pull-right" data-bind="text: PartsInstalledSum"></span></td>
                </tr>
                <tr>
                    <th @Html.DataForAttr("TotalWork")>@Localize.TotalWork</th>
                    <td><span class="pull-right" data-bind="text: WorkPerformedSum"></span></td>
                </tr>
                <tr>
                    <th @Html.DataForAttr("Total")>@Localize.Total</th>
                    <td><strong class="pull-right" data-bind="text: TotalSum"></strong></td>
                </tr>
            </table>
            @Html.EditorFor(m => m.CompletionDate)
        </fieldset>
    </section>
    <section class="work-footer">
        <section>
            @Html.EditorFor(m => m.ForWorkShop, new { htmlAttributes = new { @class = "input-medium" } })
            <label class="input-prepend printable-only">
                <span class="add-on" @Html.DataForAttr("Signature")>@Localize.Signature</span><input type="text" class="input-medium" />
            </label>
        </section>
        <section>
            @Html.EditorFor(m => m.DateModified, new { htmlAttributes = new { @class = "input-medium" } })
            <br />
            <br />
            <label style="text-align: center" class="printable-only">@Localize.PlaceForStamp</label>
        </section>
        <section>
            @Html.EditorFor(m => m.DeliveredTo, new { htmlAttributes = new { @class = "input-medium" } })
            <label class="input-prepend printable-only">
                <span class="add-on" @Html.DataForAttr("Signature")>@Localize.Signature</span><input type="text" class="input-medium" />
            </label>
        </section>
    </section>
    <footer class="not-printable btn-toolbar">
        <button class="btn btn-inverse" onclick="window.print()"><i class="icon-print icon-white"></i>&nbsp;<span @Html.DataForAttr("PrintOrder")>@Localize.PrintOrder</span></button>
        <button class="btn btn-danger" data-bind="click: $root.closeSelectedOrder"><i class="icon-road icon-white"></i>&nbsp;<span @Html.DataForAttr("CloseOrder")>@Localize.CloseOrder</span></button>
        <button class="btn btn-primary" data-bind="click: $root.save"><i class="icon-upload icon-white"></i>&nbsp;<span @Html.DataForAttr("Save")>@Localize.Save</span></button>
    </footer>
</form>
